$font-bodytext: 'Roboto', sans-serif;
$font-headline: 'Cormorant Garamond', serif;

$main-color: #D4CA8B;
$dark-color: #363636;
$light-color: #F8F6F6;

@mixin bg-gradient($bottom) {
    background-image: linear-gradient(180deg, $light-color 0%, lighten($light-color, 100%) $bottom);
}

@mixin flexy($align, $wrap) {
    display: flex;
    justify-content: $align;
    flex-wrap: $wrap;
}

@mixin font-headline($style) {
    font-family: $font-headline;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-style: $style;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-bodytext;
    font-weight: 400;
    color: $dark-color;
}

.container {
    max-width: 80em;
    margin: auto;
    padding: 0 0.5em;
}

h1, h2 {
    font-size: 4em;
    @include font-headline(normal);
    line-height: 100%;
}

h3 {
    font-size: 1.3em;
    @include font-headline(normal);
    margin: 1rem 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

.cta {
    font-family: $font-bodytext;
    font-size: 1em;
    font-weight: 400;
    border: 0.1em $main-color solid;
    display: inline-block;
    color: $main-color;
    padding: 0.8em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em 0;
    transition: ease 0.3s all;

    &:hover {
        background-color: $dark-color;
        color: $light-color;
        border: 0.1em $dark-color solid;
    }
}

.section-header {
    & h1 {
        font-size: 2.5em;
        color: $light-color;
        position: relative;
        display: block;
        text-align: center;
        padding-bottom: 2rem;
        margin: 0;

        &:after {
            content: '';
            width: 2em;
            height: 0.05em;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }

    & h2 {
        color: $main-color;
        font-size: 1.625em;
        text-align: center;
        font-style: italic;
        margin: 0;
        display: block;
        padding-bottom: 1rem;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 9em 1em;
    z-index: 80;
    transition: ease 0.5s all;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #D4CA8BEB;
        background-image: url(./images/img-half-bottle.png);
        background-position: bottom right;
        background-size: auto 90%;
        background-repeat: no-repeat;
        z-index: -1;
    }

    li {
        list-style-type: none;
        padding: 0 1em;
    }

    a {
        padding: 1em 0 ;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        @include font-headline(normal);
        color: $dark-color;
        transition: ease 0.3s all;
        border-bottom: 2px transparent solid;

        &:hover {
            color: #fff;
            border-bottom: 2px #fff solid;
        }
    }
}

.show {
    left: 0;
}

.cart {
    display: none;
}




// Mobile View

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.1em;
    z-index: 90;
    background-color: rgba(255,255,255,0.9);
    @include flexy(space-between, nowrap);
    align-items: center;

    & > div {
        @include flexy(space-between, nowrap);
        flex: 1 0 auto;
        align-items: center;
        min-height: 0;
        padding: 0;
    }

    .logo {
        padding-left: 1em;

        & img {
            width: 85%;
        }
    }

    .nav {
        display: none;
    }

    .bars {
        display: block;
        margin-right: 1em;
        font-size: 1.5em;
        color: $dark-color;
        transition: ease 0.3s all;
        border: thin $main-color solid;
        padding: 0.33em 0.5em;
        border-radius: 50%;

        &:hover {
            color: #fff;
            background-color: $main-color;
            border-radius: 0;
        }

    }    
}

.section-1 {
    min-height: 48em;
    background-color: $dark-color;
    background-image: url(./images/img-hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexy(flex-end, nowrap);
    align-items: center;

    .hero-container {
        @include flexy(flex-start, nowrap);
        align-items: center;
        background-color: rgba(54, 54, 54, 0.9);
        flex: 0 0 100%;
        clip-path: polygon(3em 0, 100% 0%, 100% 100%, 0% 100%);
        padding: 2em 0.5em 2em 5em;
        margin-top: 4em;
        transition: ease 0.3s all;
    }

    .hc-left {
        color: $light-color;
        flex: 0 0 100%;

        & > div:last-child {
            @include flexy(space-between, nowrap);
            align-items: flex-start;

            & img {
                width: 5.6875em;
                filter: grayscale(100%);
                opacity: 0.4;
                margin-right: 1.5rem;
            }
        }
    }

    .hc-right {
        display: none;
    }

    & p {
        line-height: 150%;
        margin: 1.5rem;
    }

    .cta {
        margin-left: 1.5rem;

        &:hover {
            background-color: $main-color;
            color: $dark-color;
        }
    }
}

footer {
    .container {
        min-height: 0;
        width: 80em;
    }

    .footer-top {
        @include bg-gradient(40%);
        display: flex;
        justify-content: center;
        padding-top: 4.5em;
    }

    & img {
        width: 4.7em;
        margin: auto;
    }

    & h3 {
        display: block;
        border-bottom: 0.125em $main-color solid;
        padding-bottom: 1.6em;
    }

    & ul {
        padding: 0;
        margin: 2.6875em 0 5em 0;
    }

    & li {
        list-style-type: none;
    }

    & a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.875em;
        color: $dark-color;
        padding: 0.3em;
        transition: ease 0.3s all;
        display: inline-block;

        &:hover {
            color: $main-color;
        }
    }

    .footer-bottom {
        min-height: 5.9em;
        background-color: $dark-color;
        color: $light-color;
        display: flex;

        .container {
            @include flexy(space-between, wrap);
            align-items: center;
        }

        & p {
           margin: 0;
           font-size: 0.875em;
           padding: 0.5em;
        }

        .social {
            padding: 0.5em;
        }

        & i {
            font-size: 1.3em;
            color: $main-color;
            margin-left: 0.8em;
            transition: ease 0.3s all;

            &:hover {
                color: $light-color;
                cursor: pointer;
            }
        }
    }
}



// for small tablet - inclusive

@media only screen and (min-width : 35em) {
}
    
 



// for tablet - inclusive

@media only screen and (min-width : 59em) {

    header {
        & > div {
            max-width: 80em;
            margin: auto;
        }

        .nav {
            display: flex;
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                padding: 0 1em;
            }

            a {
                padding: 0.7em 0 ;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                @include font-headline(normal);
                color: $dark-color;
                transition: ease 0.3s all;
                border-bottom: 2px transparent solid;

                &:hover {
                    color: $main-color;
                    border-bottom: 2px $main-color solid;
                }
            }
        }
    
        .bars {
            display: none;
        } 
    }

    .mobile-nav {
        display: none;
    }

    .cart {
        position: fixed;
        right: 0;
        top: 8em;
        background-color: $main-color;
        width: 3.75em;
        height: 6.25em;
        @include flexy(center, wrap);
        z-index: 90;
    
        &:after {
            content: '';
            position: absolute;
            bottom: -30%;
            right: 0;
            width: 100%;
            height: 30%;
            background-color: #5E5C4F;
            clip-path: polygon(0 0, 100% 100%, 100% 0);
        }
    
        & i {
            display: block;
            padding: 1em;
            transition: ease 0.3s all;
    
            &:hover {
                color: $light-color;
            }
        }
    
        & i:first-child {
            border-bottom: thin darken($main-color, 20%) solid;
        }
    }
    

    .section-1 {
        .hero-container {
            flex: 0 0 80%;
        }

        .hc-right {
            display: flex;
            margin-left: 1em;
        }    
    }

    .footer-top{
        & ul {
            @include flexy(space-evenly, nowrap)
        }
    }
}



// for destop - inclusive

@media only screen and (min-width : 75em) {

    .section-1 {
        .hero-container {
            flex: 0 0 70%;
        }

        .hc-left {
            flex: 0 0 60%;
        }
    }

}