* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

.container {
  min-height: 50vh;
  max-width: 80em;
  margin: auto;
  padding: 0 1em;
}

h1 {
  font-size: 4em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  margin: 1rem 0;
}

h3 {
  font-size: 1.3em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.cta {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: 0.1em #D4CA8B solid;
  display: inline-block;
  color: #D4CA8B;
  padding: 0.8em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta:hover {
  background-color: #363636;
  color: #F8F6F6;
  border: 0.1em #363636 solid;
}

.section-header {
  font-size: 2.5em;
  position: relative;
  display: block;
  text-align: center;
  padding: 1rem 0;
  margin: auto;
}

.section-header:after {
  content: '';
  width: 2em;
  height: 0.05em;
  background-color: #D4CA8B;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -70%;
  background-color: #D4CA8B;
  background-image: url(./images/img-half-bottle.png);
  background-position: bottom right;
  background-size: auto 90%;
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 9em 1em;
  z-index: 80;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.mobile-nav:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D4CA8B;
  z-index: -1;
  opacity: 60%;
}

.mobile-nav li {
  list-style-type: none;
  padding: 0 1em;
}

.mobile-nav a {
  padding: 1em 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  color: #363636;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  border-bottom: 2px transparent solid;
}

.mobile-nav a:hover {
  color: #fff;
  border-bottom: 2px #fff solid;
}

.show {
  left: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.1em;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 0;
  padding: 0;
}

header .logo {
  padding-left: 1em;
}

header .logo img {
  width: 85%;
}

header .nav {
  display: none;
}

header .bars {
  display: block;
  margin-right: 1em;
  font-size: 1.5em;
  color: #363636;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  border: thin #D4CA8B solid;
  padding: 0.25em 0.5em;
  border-radius: 50%;
}

header .bars:hover {
  color: #fff;
  background-color: #D4CA8B;
  border-radius: 0;
}

footer .container {
  min-height: 0;
  width: 80em;
}

footer .footer-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(40%, white));
  background-image: linear-gradient(180deg, #F8F6F6 0%, white 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.5em;
}

footer img {
  width: 4.7em;
  margin: auto;
}

footer h3 {
  display: block;
  border-bottom: 0.125em #D4CA8B solid;
  padding-bottom: 1.6em;
}

footer ul {
  padding: 0;
  margin: 2.6875em 0 5em 0;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  color: #363636;
  padding: 0.3em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  display: inline-block;
}

footer a:hover {
  color: #D4CA8B;
}

footer .footer-bottom {
  min-height: 5.9em;
  background-color: #363636;
  color: #F8F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom p {
  margin: 0;
  font-size: 0.875em;
  padding: 0.5em;
}

footer .footer-bottom .social {
  padding: 0.5em;
}

footer .footer-bottom i {
  font-size: 1.3em;
  color: #D4CA8B;
  margin-right: 0.8em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

footer .footer-bottom i:hover {
  color: #F8F6F6;
  cursor: pointer;
}

@media only screen and (min-width: 59em) {
  header > div {
    max-width: 80em;
    margin: auto;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  header .nav li {
    list-style-type: none;
    padding: 0 1em;
  }
  header .nav a {
    padding: 0.7em 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    color: #363636;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
    border-bottom: 2px transparent solid;
  }
  header .nav a:hover {
    color: #D4CA8B;
    border-bottom: 2px #D4CA8B solid;
  }
  header .bars {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .footer-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */