* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

.container {
  max-width: 80em;
  margin: auto;
  padding: 0 0.5em;
}

.section {
  padding-top: 5em;
}

.section-content {
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  font-size: 4em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  line-height: 100%;
}

h3 {
  font-size: 1.3em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  text-align: center;
  font-weight: normal;
}

p {
  line-height: 150%;
}

img {
  display: block;
  max-width: 100%;
}

.cta-light {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: 0.1em #D4CA8B solid;
  display: inline-block;
  color: #D4CA8B;
  background-color: transparent;
  padding: 0.8em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta-light:hover {
  background-color: #363636;
  color: #F8F6F6;
  border: 0.1em #363636 solid;
}

.cta-dark {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: 0.1em #D4CA8B solid;
  display: inline-block;
  color: #D4CA8B;
  background-color: transparent;
  padding: 0.7em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta-dark:hover {
  background-color: #D4CA8B;
  color: #363636;
  border: 0.1em #D4CA8B solid;
}

.section-header h1 {
  font-size: 2.5em;
  color: #363636;
  position: relative;
  display: block;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0;
}

.section-header h1:after {
  content: '';
  width: 2em;
  height: 0.05em;
  background-color: #D4CA8B;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section-header h2 {
  color: #D4CA8B;
  font-size: 1.625em;
  text-align: center;
  font-style: italic;
  margin: 0;
  display: block;
  padding-bottom: 1rem;
}

.section-divider:before {
  content: '';
  width: 100%;
  border-bottom: 1px #D4CA8B solid;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-3.5deg);
          transform: rotate(-3.5deg);
}

.section-divider:after {
  content: '';
  width: 100%;
  border-bottom: 1px #D4CA8B solid;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(3.5deg);
          transform: rotate(3.5deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 9em 1em;
  z-index: 80;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.mobile-nav:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D4CA8BEB;
  background-image: url(./images/img-half-bottle.png);
  background-position: bottom right;
  background-size: auto 90%;
  background-repeat: no-repeat;
  z-index: -1;
}

.mobile-nav li {
  list-style-type: none;
  padding: 0 1em;
}

.mobile-nav li:last-child {
  margin-top: 2em;
}

.mobile-nav .search-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1em;
}

.mobile-nav .search-group input[type="search"] {
  background-color: transparent;
  border-bottom: 2px #F8F6F6 solid;
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-left: 1rem;
  font-size: 1.2em;
  padding: 0.5rem;
}

.mobile-nav .search-group input[type="search"]:focus {
  outline: none;
}

.mobile-nav .search-group i {
  font-size: 1.2em;
}

.mobile-nav .cta-light {
  color: #363636;
  border-color: #363636;
}

.mobile-nav .cta-light:hover {
  color: #F8F6F6;
}

.mobile-nav a {
  padding: 1em 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  color: #363636;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  border-bottom: 2px transparent solid;
}

.mobile-nav a:hover {
  color: #fff;
  border-bottom: 2px #fff solid;
}

.show {
  left: 0;
}

.cart {
  display: none;
}

.l-width-90 {
  max-width: 90%;
}

form .form-group input[type="text"] {
  border-bottom: 2px #D4CA8B solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.8em;
  margin-top: 1em;
  line-height: 150%;
  background-color: transparent;
  width: 100%;
}

form .form-group input[type="text"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.1em;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 0;
  padding: 0;
}

header .logo {
  padding-left: 1em;
}

header .logo img {
  width: 85%;
}

header .nav {
  display: none;
}

header .bars {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  font-size: 1.5em;
  color: #363636;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  border: thin #D4CA8B solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bars:hover {
  color: #fff;
  background-color: #D4CA8B;
  border-radius: 0;
}

.main-hero {
  min-height: 48em;
  background-color: #363636;
  background-image: url(./images/img-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-hero .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(54, 54, 54, 0.9);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 2em 1em 2em 1em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.main-hero .container-left {
  color: #F8F6F6;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main-hero .container-left h1 {
  color: #F8F6F6;
}

.main-hero .container-left > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-hero .container-left > div:last-child img {
  width: 5.6875em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.4;
}

.main-hero .container-left span {
  display: inline-block;
  color: #D4CA8B;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 1.5em;
  margin: 0 0.4rem;
}

.main-hero .container-right {
  display: none;
}

.main-hero p {
  margin: 1.5rem 0;
}

.main-hero .cta {
  margin-left: 1.5rem;
}

.main-hero .cta:hover {
  background-color: #D4CA8B;
  color: #363636;
}

.company-intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(50%, white));
  background-image: linear-gradient(180deg, #F8F6F6 0%, white 50%);
  background-repeat: no-repeat;
}

.company-intro .section-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.company-intro .section-image img:first-child {
  max-width: 20%;
  position: absolute;
  top: 0;
  right: 8%;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.company-intro .section-image img:last-child {
  padding-top: 20%;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.products {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(10%, white));
  background-image: linear-gradient(180deg, #F8F6F6 0%, white 10%);
  background-repeat: no-repeat;
  margin-bottom: 5em;
}

.products .section-content p {
  margin-top: 2em;
}

.products .product-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.products .pg-item {
  padding: 1em 0.5em;
  margin: 0.25em;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#F8F6F6));
  background-image: linear-gradient(180deg, white 50%, #F8F6F6 100%);
  background-repeat: no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  border-radius: 0 0 3px 3px;
}

.products .pg-item:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: #fff;
  border: thin rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0.5em);
          transform: translate(-50%, 0.5em);
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.products .pg-item > img {
  margin: auto;
  max-height: 70%;
}

.products .pg-item a {
  text-decoration: none;
  color: #363636;
  display: block;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.products .pg-item a > :first-child {
  border-bottom: thin #D4CA8B solid;
  padding-bottom: 1em;
}

.products .pg-item h5 {
  margin: 0;
  padding-top: 0.5em;
  display: block;
}

.products .pg-item:hover {
  background-image: none;
  cursor: pointer;
}

.products .pg-item:hover:after {
  background-color: #D4CA8B;
  border: thin white solid;
}

.products .pg-item:hover a {
  color: #D4CA8B;
}

.our-land {
  min-height: 37em;
  background-color: #363636;
  color: #F8F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0;
}

.our-land .container-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

.our-land .container-left > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  text-align: center;
}

.our-land .container-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-image: url(./images/img-slice-of-heaven.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  padding-top: 40%;
}

.our-land h1 {
  color: #F8F6F6;
}

.our-land p {
  margin-top: 2em;
}

.about-us {
  min-height: 39em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), to(white));
  background-image: linear-gradient(180deg, #F8F6F6 0%, white 100%);
  background-repeat: no-repeat;
  padding-bottom: 4em;
}

.about-us .container {
  padding: 0 1em;
}

.about-us .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.about-us .container-left > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about-us .container-left > div:after {
  content: '';
  position: absolute;
  bottom: -1em;
  left: 60%;
  width: 4em;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px #D4CA8B solid;
  border-radius: 50%;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.about-us .container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.about-us .container-right > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  text-align: center;
}

.about-us img {
  border-radius: 50%;
  max-width: 50%;
}

.about-us p {
  margin-top: 2em;
}

.club-signup {
  background-color: #363636;
  color: #F8F6F6;
  padding: 3em 0;
  position: relative;
}

.club-signup .section-header {
  margin-top: 2em;
}

.club-signup .container-left {
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.club-signup .container-right {
  width: 90%;
  margin: 2em auto 0 auto;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.club-signup .form-group {
  text-align: center;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.club-signup h1 {
  color: #F8F6F6;
}

.club-signup img {
  margin: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 80%;
}

.club-signup .cta-dark {
  margin-top: 2em;
}

footer .container {
  min-height: 0;
  width: 80em;
  padding: 0 1.2em;
}

footer .footer-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(40%, white));
  background-image: linear-gradient(180deg, #F8F6F6 0%, white 40%);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.5em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

footer img {
  width: 4.7em;
  margin: auto;
}

footer h3 {
  display: block;
  border-bottom: 0.125em #D4CA8B solid;
  padding-bottom: 1.6em;
}

footer ul {
  padding: 0;
  margin: 2.6875em 0 5em 0;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  color: #363636;
  padding: 0.3em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  display: inline-block;
}

footer a:hover {
  color: #D4CA8B;
}

footer .footer-bottom {
  min-height: 5.9em;
  background-color: #363636;
  color: #F8F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom p {
  margin: 0;
  font-size: 0.875em;
  padding: 0.5em;
}

footer .footer-bottom .social {
  padding: 0.5em;
}

footer .footer-bottom i {
  font-size: 1.3em;
  color: #D4CA8B;
  margin-left: 0.8em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

footer .footer-bottom i:hover {
  color: #F8F6F6;
  cursor: pointer;
}

@media only screen and (min-width: 35em) {
  .products {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(20%, white));
    background-image: linear-gradient(180deg, #F8F6F6 0%, white 20%);
    background-repeat: no-repeat;
  }
  .products .pg-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media only screen and (min-width: 59em) {
  .l-width-60 {
    max-width: 60%;
  }
  header > div {
    max-width: 80em;
    margin: auto;
  }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  header li {
    list-style-type: none;
    padding: 0 1em;
  }
  header a {
    padding: 0.7em 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    color: #363636;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
    border-bottom: 2px transparent solid;
  }
  header a:hover {
    color: #D4CA8B;
    border-bottom: 2px #D4CA8B solid;
  }
  header .bars {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .cart {
    position: fixed;
    right: 0;
    top: 9.3em;
    background-color: #D4CA8B;
    width: 3.75em;
    height: 6.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 90;
  }
  .cart:after {
    content: '';
    position: absolute;
    bottom: -30%;
    right: 0;
    width: 100%;
    height: 30%;
    background-color: #5E5C4F;
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
  .cart i {
    display: block;
    padding: 1em;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
  }
  .cart i:hover {
    color: #F8F6F6;
  }
  .cart i:first-child {
    border-bottom: thin #b6a643 solid;
  }
  .main-hero .hero-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-clip-path: polygon(3em 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(3em 0, 100% 0%, 100% 100%, 0% 100%);
    padding: 2em 2em 2em 5em;
  }
  .company-intro .section-image img:last-child {
    padding-top: 10%;
  }
  .products {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F6F6), color-stop(30%, white));
    background-image: linear-gradient(180deg, #F8F6F6 0%, white 30%);
    background-repeat: no-repeat;
  }
  .products .pg-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  .club-signup .container-right {
    width: 65%;
  }
  footer .footer-top {
    padding-top: 7em;
  }
  footer .footer-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 75em) {
  .main-hero .hero-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .main-hero .container-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .main-hero .container-right {
    display: block;
    margin-left: 2em;
  }
  .products .pg-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
  .our-land .container-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .our-land .container-left > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin: 3em;
    text-align: left;
  }
  .our-land .container-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    padding-top: 0;
    -webkit-clip-path: polygon(6em 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(6em 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us .container-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 3em;
    margin-bottom: 0;
  }
  .about-us .container-left > div:after {
    left: 70%;
    width: 6.5em;
    height: 6.5em;
  }
  .about-us .container-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 3em;
  }
  .about-us .container-right > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: left;
  }
  .about-us img {
    max-width: 100%;
  }
  .club-signup .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
  }
  .club-signup .form-group {
    text-align: left;
  }
  .club-signup .container-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .club-signup .container-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0;
    padding-right: 1em;
  }
}
/*# sourceMappingURL=style.css.map */