@import 'base', 'layout', 'modules';



// Mobile View

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.1em;
    z-index: 90;
    background-color: rgba(255,255,255,0.9);
    @include flexy(space-between, nowrap);
    align-items: center;

    & > div {
        @include flexy(space-between, nowrap);
        flex: 1 0 auto;
        align-items: center;
        min-height: 0;
        padding: 0;
    }

    .logo {
        padding-left: 1em;

        & img {
            width: 85%;
        }
    }

    .nav {
        display: none;
    }

    .bars {
        // display: block;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        font-size: 1.5em;
        color: $dark-color;
        transition: ease 0.3s all;
        border: thin $main-color solid;
        border-radius: 50%;
        @include flexy(center, nowrap);
        align-items: center;

        &:hover {
            color: #fff;
            background-color: $main-color;
            border-radius: 0;
        }

    }    
}

.main-hero {
    min-height: 48em;
    background-color: $dark-color;
    background-image: url(./images/img-hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexy(flex-end, nowrap);
    align-items: center;

    .hero-container {
        @include flexy(flex-start, nowrap);
        align-items: center;
        background-color: rgba(54, 54, 54, 0.9);
        flex: 0 0 100%;
        padding: 2em 1em 2em 1em;
        transition: ease 0.3s all;
    }

    .container-left {
        color: $light-color;
        flex: 0 0 100%;

        & h1 {
            color: $light-color;
        }
        
        & > div:last-child {
            @include flexy(space-between, nowrap);
            align-items: flex-start;

            & img {
                width: 5.6875em;
                filter: grayscale(100%);
                opacity: 0.4;
            }
        }

        & span {
            display: inline-block;
            color: $main-color;
            font-family: $font-headline;
            font-style: italic;
            font-size: 1.5em;
            margin: 0 0.4rem;
        }
    }

    .container-right {
        display: none;
    }

    & p {
        margin: 1.5rem 0;
    }

    .cta {
        margin-left: 1.5rem;

        &:hover {
            background-color: $main-color;
            color: $dark-color;
        }
    }
}

.company-intro {
    @include bg-gradient(50%);

    .section-image {
        @include flexy(center, wrap);
        position: relative;

        & img:first-child {
            max-width: 20%;
            position: absolute;
            top: 0;
            right: 8%;
            transition: ease 0.3s all;
        }

        & img:last-child {
            padding-top: 20%;
            transition: ease 0.3s all;
        }
    }
}

.products {
   @include bg-gradient(10%);
   margin-bottom: 5em;
   
   .section-content {
       & p {
           margin-top: 2em;
       }
   }

   .product-gallery {
       @include flexy(center, wrap);
       margin-top: 3em;
       align-items: stretch;
   }

   .pg-item {
        padding: 1em 0.5em;
        margin: 0.25em;
        background-image: linear-gradient(180deg, lighten($light-color, 100%) 50%, $light-color 100%);
        background-repeat: no-repeat;
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        transition: ease 0.3s all;
        border-radius: 0 0 0.1875em 0.1875em;

        &:after {
            content: '';
            position: absolute;
            width: 1em;
            height: 1em;
            background-color: #fff;
            border: thin rgba(0,0,0,0.1) solid;
            border-radius: 50%;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0.5em);
            transition: ease 0.3s all;
        }

       & > img {
           margin: auto;
           max-height: 70%;
       }

       & a {
           text-decoration: none;
           color: $dark-color;
           display: block;
           transition: ease 0.3s all;

           & > :first-child {
                border-bottom: thin $main-color solid;
                padding-bottom: 1em;
            }
       }

       & h5 {
            margin: 0;
            padding-top: 0.5em;
            display: block;
        }

        &:hover {
            background-image: none;
            cursor: pointer;

            &:after {
                background-color: $main-color;
                border: thin rgba(255,255,255,1) solid;
            }

            & a {
                color: $main-color;
            }
        }
   }
}

.our-land {
    min-height: 37em;
    background-color: $dark-color;
    color: $light-color;
    @include flexy(center, wrap);
    padding-top: 0;

    .container-left {
        flex: 0 0 100%;
        @include flexy(center, wrap);
        align-items: center;
        padding: 3em 0;


        & > div {
            flex: 0 0 80%;
            transition: ease 0.3s all;
            text-align: center;
        }
    }

    .container-right {
        flex: 0 0 100%;
        background-image: url(./images/img-slice-of-heaven.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(50%);
        padding-top: 40%;
    }
 
    & h1 {
        color: $light-color;
    }

    & p {
        margin-top: 2em;
    }
}

.about-us {
    min-height: 39em;
    @include bg-gradient(100%);
    padding-bottom: 4em;

    .container {
        padding: 0 1em;
    }

    .container-left {
        @include flexy(center, wrap);
        align-items: center;
        margin-bottom: 3em;
        transition: ease 0.3s all;

        & > div {
            display: flex;
            justify-content: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -1em;
                left: 60%;
                width: 4em;
                height: 4em;
                background-color: rgba(255,255,255,0.4);
                border: 0.125em $main-color solid;
                border-radius: 50%;
                transition: ease 0.3s all;
            }
        }
    }

    .container-right {
        @include flexy(center, wrap);
        align-items: center;
        transition: ease 0.3s all;

        & > div {
            flex: 0 0 90%;
            transition: ease 0.3s all;
            text-align: center;
        }
    }
 
    & img {
        border-radius: 50%;
        max-width: 50%;
    }

    & p {
        margin-top: 2em;
    }    
}

.club-signup {
    background-color: $dark-color;
    color: $light-color;
    padding: 3em 0;
    position: relative;

    .section-header {
        margin-top: 2em;
    }

    .container-left {
        transition: ease 0.3s all;
    }

    .container-right {
        width: 90%;
        margin: 2em auto 0 auto;
        transition: ease 0.3s all;
    }

    .form-group {
        text-align: center;
        transition: ease 0.3s all;
    }

    & h1 {
        color: $light-color;
    }

    & img {
        margin: auto;
        filter: grayscale(100%);
        opacity: 80%;
    }

    .cta-dark {
        margin-top: 2em;
    }

}

footer {
    .container {
        min-height: 0;
        width: 80em;
        padding: 0 1.2em;
    }

    .footer-top {
        @include bg-gradient(40%);
        display: flex;
        justify-content: center;
        padding-top: 4.5em;
        transition: ease 0.3s all;
    }

    & img {
        width: 4.7em;
        margin: auto;
    }

    & h3 {
        display: block;
        border-bottom: 0.125em $main-color solid;
        padding-bottom: 1.6em;
    }

    & ul {
        padding: 0;
        margin: 2.6875em 0 5em 0;
    }

    & li {
        list-style-type: none;
    }

    & a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.875em;
        color: $dark-color;
        padding: 0.3em;
        transition: ease 0.3s all;
        display: inline-block;

        &:hover {
            color: $main-color;
        }
    }

    .footer-bottom {
        min-height: 5.9em;
        background-color: $dark-color;
        color: $light-color;
        display: flex;

        .container {
            @include flexy(space-between, wrap);
            align-items: center;
        }

        & p {
           margin: 0;
           font-size: 0.875em;
           padding: 0.5em;
        }

        .social {
            padding: 0.5em;
        }

        & i {
            font-size: 1.3em;
            color: $main-color;
            margin-left: 0.8em;
            transition: ease 0.3s all;

            &:hover {
                color: $light-color;
                cursor: pointer;
            }
        }
    }
}



// for small tablet - inclusive

@media only screen and (min-width : 35em) {

    .products {
        @include bg-gradient(20%);

        .pg-item {
            flex: 0 0 40%;
        }
    }
}
    
 



// for tablet - inclusive

@media only screen and (min-width : 59em) {

    .l-width-60 {
        max-width: 60%;
    } 

    header {
        & > div {
            max-width: 80em;
            margin: auto;
        }

        .nav {
            display: flex;
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
            padding: 0 1em;
        }

        a {
            padding: 0.7em 0 ;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            @include font-headline(normal);
            color: $dark-color;
            transition: ease 0.3s all;
            border-bottom: 0.125em transparent solid;

            &:hover {
                color: $main-color;
                border-bottom: 0.125em $main-color solid;
            }
        }
        
        .bars {
            display: none;
        } 
    }

    .mobile-nav {
        display: none;
    }

    .cart {
        position: fixed;
        right: 0;
        top: 9.3em;
        background-color: $main-color;
        width: 3.75em;
        height: 6.25em;
        @include flexy(center, wrap);
        z-index: 90;
    
        &:after {
            content: '';
            position: absolute;
            bottom: -30%;
            right: 0;
            width: 100%;
            height: 30%;
            background-color: #5E5C4F;
            clip-path: polygon(0 0, 100% 100%, 100% 0);
        }
    
        & i {
            display: block;
            padding: 1em;
            transition: ease 0.3s all;
    
            &:hover {
                color: $light-color;
            }
        }
    
        & i:first-child {
            border-bottom: thin darken($main-color, 20%) solid;
        }
    }
    
    .main-hero {
        .hero-container {
            flex: 0 0 80%;
            clip-path: polygon(3em 0, 100% 0%, 100% 100%, 0% 100%);
            padding: 2em 2em 2em 5em;
        }   
    }

    .company-intro {
        .section-image {    
            & img:last-child {
                padding-top: 10%;
            }
        }
    }

    .products {
        @include bg-gradient(30%);

        .pg-item {
            flex: 0 0 30%;
        }
    }

    .club-signup {
        .container-right {
            width: 65%;
        }
    }

    footer {
        .footer-top{
            padding-top: 7em;
            & ul {
                @include flexy(space-evenly, nowrap)
            }
        }
    }
}



// for destop - inclusive

@media only screen and (min-width : 75em) {

    .main-hero {
        .hero-container {
            flex: 0 0 70%;
        }

        .container-left {
            flex: 0 0 70%;
        }

        .container-right {
            display: block;
            margin-left: 2em;
        } 
    }

    .products {
        .pg-item {
            flex: 0 0 15%;
        }
    }

    .our-land {
        .container-left {
            flex: 0 0 55%;
            justify-content: flex-end;
    
            & > div {
                max-width: 40em;
                margin-right: 3em;
                text-align: left;
            }
        }
    
        .container-right {
            flex: 0 0 45%;
            padding-top: 0;
            clip-path: polygon(6em 0, 100% 0%, 100% 100%, 0% 100%);
        }
    }

    .about-us { 
        @include flexy(center, wrap);

        .container {
            @include flexy(center, wrap)
        }
        
        .container-left {
            flex: 0 0 30%;
            @include flexy(flex-start, wrap);
            margin-right: 3em;
            margin-bottom: 0;

            & > div {
                &:after {
                    left: 70%;
                    width: 6.5em;
                    height: 6.5em;
                }   
            }
        }
    
        .container-right {
            flex: 0 0 60%;
            @include flexy(flex-start, wrap);
            margin-left: 3em;
            
            & > div {
                flex: 0 0 100%;
                text-align: left;
            }
        }
     
        & img {
            max-width: 100%;
        } 
    }

    .club-signup {
        .container {
            display: flex;
            transition: ease 0.3s all;
        }

        .form-group {
            text-align: left;
        }

        .container-left {
            flex: 0 0 50%;
            @include flexy(center, nowrap);
            align-items: center;
        }

        .container-right {
            flex: 0 0 50%;
            margin: 0;
            padding-right: 1em;
        }
    }
}

